spring:
  h2:
    console:
      enabled: true
  profiles:
    include: secret
  datasource:
    driver-class-name: org.h2.Driver
    hikari:
      jdbc-url: jdbc:h2:mem:blog;MODE=MySQL;DATABASE_TO_LOWER=TRUE
  jpa:
    hibernate:
      ddl-auto: validate
feign:
  client:
    config:
      default:
        read-timeout:
          loggerLevel: BASIC
          connectTimeout: 2000
          readTimeout: 2000